@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange: 227, 150, 74;
  --orange--alpha: 238, 219, 201;
  --gray: 150, 150, 150;
  --red: 227, 74, 74;
  --white: 255, 255, 255;
  --black: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --orange: 227, 150, 74;
    --gray: 150, 150, 150;
    --red: 227, 74, 74;
    --black: 255, 255, 255;
    --white: 0, 0, 0;
  }
}
